{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>MagicBoard</title>


  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">

  <link rel="stylesheet"
    href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/DataTables/datatables.min.css' %}" />

  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">

  <link
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
    rel="stylesheet">
</head>

<body
  class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

    <nav class="main-header navbar navbar-expand navbar-white navbar-light">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i
              class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="{% url 'home' %} " class="nav-link"><i class="fa fa-home"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="{% url 'developer' %}" class="nav-link">Разработчик</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="{% url 'current-session' %}" class="nav-link">Сессия {{ current_session }}</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="{% url 'current-session' %}" class="nav-link">Семестр {{ current_term }}</a>
        </li>
      </ul>




      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">
              <i class="fas fa-user mr-2"></i> Профиль
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'logout' %}" class="dropdown-item">
              <i class="fas fa-sign-out"></i> Выйти
            </a>
          </div>
        </li>
      </ul>
    </nav>

    <aside class="main-sidebar sidebar-dark-primary elevation-4">

      <a href="{% url 'home' %}" class="brand-link">MagicBoard</a>


      <div class="sidebar">


        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
              <a href="{% url 'student-list' %}" class="nav-link">
                <i class="nav-icon fas fa-graduation-cap"></i>
                <p>
                  Студенты
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'staff-list' %}" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Преподователи
                </p>
              </a>
            </li>

            <li class="nav-header">Финансы</li>
            <li class="nav-item">
              <a href="{% url 'invoice-list' %}" class="nav-link">
                <i class="nav-icon fas fa-money-bill-alt"></i>
                <p>
                  Счета
                </p>
              </a>
            </li>
            <li class="nav-header">Результаты</li>
            <li class="nav-item">
              <a href="{% url 'create-result' %}" class="nav-link">
                <i class="nav-icon fas fa-money-bill-alt"></i>
                <p>
                  Создать Результат
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'edit-results' %}" class="nav-link">
                <i class="nav-icon fas fa-money-bill-alt"></i>
                <p>
                  Обновить результат
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'view-results' %}" class="nav-link">
                <i class="nav-icon fas fa-money-bill-alt"></i>
                <p>
                  Посмотреть результат
                </p>
              </a>
            </li>

            <li class="nav-header">Другое</li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                  Менеджер
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'sessions' %}" class="nav-link">
                    <i class="nav-icon fas fa-bars"></i>
                    <p>
                      Сессия
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'terms' %}" class="nav-link">
                    <i class="nav-icon fas fa-bars"></i>
                    <p>
                      Семестр
                      <i class="right"></i>
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'subjects' %}" class="nav-link">
                    <i class="nav-icon fas fa-bars"></i>
                    <p>
                      Предметы
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'classes' %}" class="nav-link">
                    <i class="nav-icon fas fa-bars"></i>
                    <p>
                      Группы
                    </p>
                  </a>
                </li>
              </ul>
            </li>


          </ul>
        </nav>
      </div>
    </aside>

    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-1">
            <div class="col-sm-8">
              <h1>{% block title %}{% endblock title %}</h1>
            </div>
            <div class="col-sm-4">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">{% block breadcrumb %}{% endblock breadcrumb %}</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              {% block fullcard %}
              <div class="card">
                {% block content-header %}{% endblock content-header %}
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      {% block content %}

                      {% endblock content %}
                    </div>
                  </div>

                </div>


              </div>
              {% endblock fullcard %}

            </div>

          </div>

        </div>

      </section>

    </div>

    <aside class="control-sidebar control-sidebar-dark">

    </aside>



  </div>
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'dist/js/jquery.formset.js' %}"> </script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
  <script
    src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
  <script src="{% static 'dist/js/adminlte.js' %}"></script>
  <script src="{% static 'dist/js/demo.js' %}"></script>
  {% if messages %}
  {% for message in messages %}
  <script type=text/javascript>
    toastr.options.progressBar = true;
    toastr.{{ message.tags }}('{{ message }}')
  </script>
  {% endfor %}
  {% endif %}

  <script src="{% static 'plugins/DataTables/datatables.min.js' %}"></script>

  <script>
    (function ($) {
      $('.clickable-row').css('cursor', 'pointer');
      $(".clickable-row").click(function () {
        window.location = $(this).data("href");
      });
    })(jQuery)

  </script>

  {% block morejs %}

  {% endblock morejs %}



</body>

</html>
